 body{
    margin:0;
    padding:0;
    background-color:rgb(7, 1, 28);
    color: white;
}

header{
    margin-top: 20px;
    font-size: 32px;
    color: rgb(255, 248, 54);
    text-align: center;
    font-family:NEW;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.finish {
    color: rgb(11, 150, 4);
    display: none;
}
.runatext {
    color: rgb(39, 89, 253);
    display: none;
}
.guritext {
    color: rgb(221, 31, 31);
    display: none;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    line-height: 5px;
}

.metergage {
    display: flex;
    justify-content: center;
}

#fuelh {
    width: 400px;
    height: 30px;
}
#fuelmax {
    width: 400px;
    height: 30px;
    display: none;
}
#fuelmin {
    width: 400px;
    height: 30px;
      display: none;
}
#fuelup {
    width: 400px;
    height: 30px;
      display: none;
}
#fueldown {
    width: 400px;
    height: 30px;
      display: none;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sryz {
    display: none;
    height: 300px;
}
.runa {
    display: none;
    height: 300px;
}
.guri {
    display: none;
    height: 300px;
}

.ron {
    display: none;
    height: 300px;
}

.janken p {
    height: 100px;
    text-align: center;
}

.gu {
    font-size: 20px;
    width: 300px;
    height: 100px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 5%;
    position:absolute;
    cursor: pointer;
    background-color: rgb(63, 46, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}



.cho {
    font-size: 20px;
    width: 300px;
    height: 100px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 5%;
    position:absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 46, 109);
}

.pa {
    font-size: 20px;
    width: 300px;
    height: 100px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 5%;
    position:absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 46, 109);
}

.textbox {
    display: flex;
    justify-content: center;
    
}

.text_t {
    width: 950px;
}


.text { 

    margin-top: 10px;
    font-size: 30px;
    /* border: solid 3px rgb(255, 255, 255);線 */
    height: 200px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255);
    
}

.text:before, .text:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgb(255, 255, 255);
}
.text:before {left: 10px;}
.text:after {right: 10px;}


.textname {
    margin-left: 200px;

}

.text_n { 

    margin-top: 30px;
    font-size: 20px;
    /* border: solid 3px rgb(255, 255, 255);線 */
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255);
}

.text_n:before, .text_n:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgb(255, 255, 255);
}
.text_n:before {left: 10px;}
.text_n:after {right: 10px;}





footer{

    border-bottom:1px solid #ccc;
    text-align: center;
}

.start {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 9000;
    display: flex;
    justify-content: center;
}
.start p {
	position: fixed;
	left: 42%;
	top: 40%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
    width: 100px;
    
}

#startbutton {
    position: fixed;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
    left: 82%;
	top: 75%;
    color: aliceblue;
    font-size: 40px;
    font-family: NEW;
    width: 100%;
    text-decoration: none;
   
}

#startbutton:hover {
    text-decoration: underline;
}



/* @keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } } 

 #cmp {
width: 40ch;
border-right: .08em solid;
overflow: hidden;
white-space: nowrap;
animation: typing 5s steps(50, end), caret .5s step-end infinite;
}  */